html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0 0 10px;
}

body {
  margin: 0;

  font-family: "Raleway", sans-serif;
  font-size: 14px;
  color: #6c7279;
  -webkit-font-smoothing: antialiased;
}

/* container */
.container {
  width: 100%;
  height: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

/* button */
.btn {
  display: inline-block;
  padding: 14px 40px;

  font-size: 13px;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  border: 0;
  border-radius: 3px;
  font-family: inherit;
  cursor: pointer;
  outline: none;

  transition: background 0.15s linear;
}

.btn--red {
  background-color: #e84545;
}

.btn--red:hover {
  background-color: #fa2d2d;
}

/* header */
.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}

.header__inner {
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  font-weight: bold;
  border-bottom: 1px solid #4f5168;
}

.nav {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.nav__link {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  opacity: 0.75;
  transition: 0.15s linear;
}

.nav__link:hover {
  opacity: 1;
}

/* intro */
.intro {
  width: 100%;
  background-image: url("/assets/img/Rectangle_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #2a2e48;
}

.intro__inner {
  min-height: 750px;
  padding-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
}

.intro__container {
  max-width: 970px;
  margin: 25px 0 25px;
}

.intro__title {
  font-family: "Open Sans", sans-serif;
  font-size: 65px;
  line-height: 1.1;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.intro__subtitle {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 80px;
  font-weight: normal;
}

/* features */
.features {
  background-color: #fff;
}

.features__inner {
  display: flex;
  min-height: 690px;
}

.features__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.features__item {
  text-align: center;
  align-self: center;
  flex-basis: 390px;
  padding: 0 45px;
  margin: 37px 0;
}

.features__item > img {
  margin: 0 0 33px;
}

.features__item > h3 {
  font-size: 14px;
  text-transform: uppercase;
  margin: 0 0 26px;
}

/* works */
.works {
  display: flex;
  flex-wrap: wrap;

  max-width: 1900px;
  margin: 0 auto;
  font-size: 0;
}

.work__item {
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
  border: 1px solid #fff;

  flex: 1 1 25%;
  min-width: 280px;
}

.work__content {
  position: absolute;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #e84545aa;
  color: #fff;
  font-size: 14px;

  opacity: 0;
  transition: opacity 0.3s linear;
}

.work__content:hover {
  opacity: 1;
}

.work__content > h3 {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 14px;
}
