html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

body {
  margin: 0;

  font-family: "Raleway", sans-serif;
  font-size: 14px;
  color: #6c7279;
  -webkit-font-smoothing: antialiased;
}

/* container */
.container {
  width: 100%;
  height: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

/* button */
.btn {
  display: inline-block;
  padding: 14px 40px;

  font-size: 13px;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  border: 0;
  border-radius: 3px;
  font-family: inherit;
  cursor: pointer;
  outline: none;

  transition: background 0.15s linear;
}

.btn--red {
  background-color: #e84545;
}

.btn--long {
  padding: 14px 85px;
}

.btn--red:hover {
  background-color: #fa2d2d;
}

/* header */
.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}

.header__inner {
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  font-weight: bold;
  border-bottom: 1px solid #4f5168;
}

.nav {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.nav__link {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  opacity: 0.75;
  transition: 0.15s linear;
}

.nav__link:hover {
  opacity: 1;
}

/* intro */
.intro {
  width: 100%;
  background-image: url("/assets/img/Rectangle_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #2a2e48;
}

.intro__inner {
  min-height: 750px;
  padding-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
}

.intro__container {
  max-width: 970px;
  margin: 25px 0 25px;
}

.intro__title {
  font-family: "Open Sans", sans-serif;
  font-size: 65px;
  line-height: 1.1;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.intro__subtitle {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 80px;
  font-weight: normal;
}

/* features */
.features {
  background-color: #fff;
}

.features__inner {
  display: flex;
  min-height: 690px;
}

.features__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.features__item {
  text-align: center;
  align-self: center;
  flex-basis: 390px;
  padding: 0 45px;
  margin: 37px 0;
}

.features__item > img {
  margin: 0 0 33px;
}

.features__item > h3 {
  font-size: 14px;
  text-transform: uppercase;
  margin: 0 0 26px;
}

/* works */
.works {
  display: flex;
  flex-wrap: wrap;

  max-width: 1900px;
  margin: 0 auto;
  font-size: 0;
}

.work__item {
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
  border: 1px solid #fff;

  flex: 1 1 25%;
  min-width: 280px;
}

.work__content {
  position: absolute;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #e84545aa;
  color: #fff;
  font-size: 14px;

  opacity: 0;
  transition: opacity 0.3s linear;
}

.work__content:hover {
  opacity: 1;
}

.work__content > h3 {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 14px;
}

/* team */
.team > .container {
  max-width: 1200px;
}
.team__inner {
  margin: 70px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.team__item {
  max-width: 270px;
  margin: 30px 0;
}
.team__image {
  margin-bottom: 30px;
}
.team__item__title {
  font-size: 22px;
  margin-bottom: 15px;
}
.team__item__subtitle {
  font-size: 13px;
  text-transform: uppercase;
  margin-bottom: 30px;
  color: #e84545;
}
.team__item__content {
  margin-bottom: 30px;
}

.team__icons {
  display: flex;
}

.team__icon {
  display: flex;
  height: 40px;
  width: 40px;
  justify-content: center;
  align-items: center;

  border: 1px solid #e8ecee;

  margin-right: 4px;
  transition: background 0.2s linear;
}

.social__icon {
  height: 18px;
  fill: #c6cacc;
}

.team__icon:hover {
  background-color: #e84545;
}
.team__icon:hover .social__icon {
  fill: #fff;
}

/* reviews */
.reviews {
  display: flex;
  min-height: 500px;
  background-color: #53354a;
}

.review__item {
  display: flex;
}
.review__item__image {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}
.review__item__content {
  width: 50%;
  padding-left: 85px;
  color: #fff;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
.review__item__content__text {
  font-family: "Cardo", serif;
  font-size: 36px;
  font-style: italic;

  margin-bottom: 30px;
}
.review__item__content__author {
  font-weight: bold;
  font-size: 13px;
  text-transform: uppercase;
}

/* download */
.download {
  height: 340px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.download__inner {
  margin: 30px 10px;
}
.download__title {
  font-size: 28px;
  font-weight: 300;
  margin-bottom: 16px;
}
.download__subtitle {
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 40px;
}

/* footer */
.footer {
  min-height: 250px;
  background-color: #3a3e64;
  font-size: 14px;
  display: flex;
  justify-content: center;
}

.footer__inner {
  max-width: 1170px;
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 35px 0;

  color: #adaebb;
}
.footer__block {
  width: 33.3%;
  text-align: center;
  margin: 35px 0;
}
.footer__block__title {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 22px;
}
.footer .team__icons {
  display: flex;
  justify-content: center;
}
.footer .team__icon {
  margin: 0;
  margin-left: 7px;
  border: 2px solid #e8ecee;
  border-radius: 3px;
}
.footer .team__icon:first-child {
  margin-left: 0;
}

/* footer__copyright */
.footer__copyright {
  min-height: 95px;
  background-color: #313454;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: #808080;
  font-size: 14px;
}

.footer__copyright > p > span {
  color: #fff;
}
